@font-face {
    font-family: Bellerose;
    src: url("../fonts/Bellerose.ttf");
}

@font-face {
    font-family: Minimal;
    src: url("../fonts/minimal.otf");
}

#body
{
  background-image: url("../images/background.jpg");
}

#title
{
  color: white;
  font-size: 60px;
  font-family: Bellerose, Arial;
  margin-bottom: 50px;
  margin-top: 40px;
}

#user_section
{
  width: 70%;
  margin: 50px;
  padding-bottom: 10px;
  background-color: #bfbfbf;
  opacity: 1;
  border-radius: 5px;
}

#name_input
{
 width: 50%;
 margin: 10px;
 margin-right: 0px;
 padding: 5px;
}

.button
{
  margin: 10px;
  padding: 5px;
}

.card
{
  display: inline-block;
  height: 100px;
  width: 5%;
  background-color: #262626;
  margin: 3px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.result_card
{
  display: inline-block;
  height: 100px;
  width: 50%;
  background-color: #262626;
  margin: 3px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-radius: 5px;
}

#result_section
{
  min-height: 300px;
  width: 70%;
  margin: 50px;
  padding-bottom: 10px;
  background-color: #bfbfbf;
  opacity: 1;
  border-radius: 5px;
}

.result_entry
{
  width: 10%;
  display: inline-block;
  padding-bottom: 10px;
  opacity: 1;
  border-radius: 5px;
}

#show_result_button
{
  float: right;
  margin: 10px;
  margin-top: 0px;
}


#hide_result_button
{
  float: right;
  margin: 10px;
  margin-top: 0px;
}

#copy_room_link_button
{
  float: right;
  margin: 10px;
}


#statistics_section
{
  width: 70%;
  margin: 50px;
  padding-bottom: 10px;
  background-color: #bfbfbf;
  opacity: 1;
  border-radius: 5px;
}

#box_plot
{
  height: 300px;
  width: 80%;
  margin: 50px;
  background-color: #bfbfbf;
  opacity: 1;
  border-radius: 5px;
}

#hist_plot
{
  height: 300px;
  width: 80%;
  margin: 50px;
  background-color: #bfbfbf;
  opacity: 1;
  border-radius: 5px;
}


.input_text
{
  color: black;
  font-size: 25px;
  font-family: Minimal, Arial;
}

.header_text
{
  font-family: Minimal, Arial;
  font-weight: bold;
  font-size: 50px;
  margin: 9px;
  left: 50%;
}
.text
{
  color: white;
  font-size: 25px;
  font-family: Minimal, Arial;
}

.statistics_text
{
  color: black;
  font-size: 35px;
  font-family: Minimal, Arial;
}

.username_text
{
  color: black;
  font-size: 25px;
  font-family: Minimal, Arial;
}
